.testi_container {
    max-width: 1820px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #effcf500, #f9f9f9);
    margin-top: clamp(90px, 10vw, 176px);
    margin-bottom: 20px;
    border-radius: 25px;
    .testi_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .btin {
            padding: clamp(5px, 1vw,  10px) clamp(10px, 1vw ,15px);
            background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #c1e3d3, #ede5d1) border-box;
            border-radius: 50em;
            border: 3px solid transparent;
            box-shadow: 1px 4px 4px #f8efd9;
            font-size: clamp(14px, 1vw, 16px);
            // letter-spacing: 0.08rem;
        }

    }
    .testi_para{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        text-align: center;
        margin-top: 30px;
        .testi_para_main{
            font-size: clamp(30px, 3vw, 48px);
            font-weight: 500;
        }
        .testi_para_sub{
            font-size: clamp(14px, 2vw , 20px);
            // font-weight: 500;
            margin-top: 10px;
            color: #71726f;
            padding: 3px;
            line-height: clamp(1.5rem, 3vw ,2.5rem);
        }
    }
    .person_says{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:clamp(30px, 3vw ,  70px);
        font-size: clamp(26px, 3vw , 45px);
        font-weight: 500;
        padding: 0 10px;
        .nutri{
            font-style: italic;
            color: black;

        }
        span{
            color: #71726f;
        }
    }
    .person_profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        margin-top: 80px;
        .person_img{
            width: 100px;
            height: 100px;
            background-color: #71726f;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .person_name{
            font-size: clamp(16px , 2vw, 24px);
            font-weight: 500;
        }
        .person_desig{
            color: #71726f;
            margin-top: 7px;
            font-weight: 500;
            font-size: clamp(14px, 1vw, 16px);
        }
        .three_bars{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            margin-top: clamp(20px, 3vw , 40px);
            margin-bottom: 100px;
            .bar_one,.bar_two,.bar_three{
                width: 50px;
                height: 10px;
                background-color: #9b9b9b;
                border-radius: 25px;
            }
            .bar_two{
                background-color: black;
            }
        }
    }
}