.main_Content {
    max-width: 1880px;
    margin: 0 auto;
    margin-top: 5px;
    background: linear-gradient(100deg, #effcf5, #fbfbf3);
    background-size: auto;
    background-position: center;
    overflow: hidden;
    height: 70vw;
    width: 100dvw;
    border-radius: 20px;
    padding: 1px;

    .main_wrapper {
        margin-top: 160px;
        text-align: center;

        .main_btn {
            .btn {
                padding: 15px;
                background: linear-gradient(white, white) padding-box,
                    linear-gradient(to right, #c1e3d3, #ede5d1) border-box;
                border-radius: 50em;
                border: 3px solid transparent;
                box-shadow: 1px 4px 4px #f8efd9;
                font-size: 16px;
                font-weight: 500;
                // letter-spacing: 0.08rem;
            }
        }

        .main_para {
            margin-top: 50px;

            .main_para_one {
                font-size: 100px;
                font-weight: 500;
                color: #222222;
                margin-bottom: 15px;
            }

            p {
                font-size: 26px;
                color: #4f544e;
                margin-bottom: 30px;
            }
        }

        .btn_primary {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .btn {
                border: none;
                padding: 10px 20px;
                border-radius: 15px;
                background-color: #222222;

                .icon {
                    color: white;
                    font-size: 24px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    color: white;
                    gap: 4px;

                    .subtext {
                        font-size: 18px;
                    }
                }

                .displaybtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }

            }
        }

        .main_img_content {
            margin-top: 20px;
            position: relative;

            .main_img_card {
                position: absolute;
                top: 22%;
                left: 58%;
                background-color: white;
                padding: 35px ;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.384);

                .main_img_para {
                    font-size: 24px;
                    font-weight: 600;
                    display: flex;
                }

                .main_img_doc {
                    display: flex;
                    position: relative;
                    margin-top: 15px;
                    // border: 2px solid red;
                    .main_img {
                        // background-color: #222222;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;                        
                        img{
                            object-fit: cover;
                            object-position: center;
                            border-radius: 100%;
                        }
                    }

                    .main_img_two {
                        // background-color: #7a7777;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        position: absolute;
                        left: 46px;
                        img{
                            object-fit: cover;
                            object-position: center;
                            border-radius: 100%;
                        }
                    }

                    .main_img_three {
                        // background-color: #9c7d7d;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        position: absolute;
                        left: 90px;
                        img{
                            object-fit: cover;
                            object-position: center;
                            border-radius: 100%;
                        }
                    }
                    .main_img_four{
                        // background-color: #943a3a;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        position: absolute;
                        left: 128px;
                        img{
                            object-fit: cover;
                            object-position: center;
                            border-radius: 100%;
                        }

                    }

                    .main_img_doc_para {
                        font-size: 28px;
                        font-weight: 600;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        position: absolute;
                        left: 195px;
                        top: 19px;
                    }
                }
                .ongoing{
                    background: #f7f7f7;
                    border-radius: 10px;
                    padding: 10px 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;
                    margin-top: 20px;
                    .ongoing_para{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        font-weight: 600;
                        .ongoing_para_two{
                            font-weight: 400;
                            font-size: 14px;
                            color:#b1b1b1;
                        }
                    }
                }
                .second_img{
                    background-color: white;
                    position: absolute;
                    left: -650px;
                    border-radius: 25px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
                    img{
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1440px) {
    .main_Content {
        max-width:1400px;
        margin: 0 auto;
        margin-top: 5px;
        background: linear-gradient(100deg, #effcf5, #fbfbf3);
        background-size: auto;
        background-position: center;
        overflow: hidden;
        height: 70vw;
        width: 100dvw;
        border-radius: 20px;
        padding: 1px;
    
        .main_wrapper {
            margin-top: 160px;
            text-align: center;
    
            .main_btn {
                .btn {
                    padding: 15px;
                    background: linear-gradient(white, white) padding-box,
                        linear-gradient(to right, #c1e3d3, #ede5d1) border-box;
                    border-radius: 50em;
                    border: 3px solid transparent;
                    box-shadow: 1px 4px 4px #f8efd9;
                    font-size: 16px;
                    font-weight: 500;
                    // letter-spacing: 0.08rem;
                }
            }
    
            .main_para {
                margin-top: 50px;
    
                .main_para_one {
                    font-size: 80px;
                    font-weight: 500;
                    color: #222222;
                    margin-bottom: 15px;
                }
    
                p {
                    font-size: 22px;
                    color: #4f544e;
                    margin-bottom: 30px;
                }
            }
    
            .btn_primary {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
    
                .btn {
                    border: none;
                    padding: 10px 15px;
                    border-radius: 15px;
                    background-color: #222222;
    
                    .icon {
                        color: white;
                        font-size: 24px;
                    }
    
                    .text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        color: white;
                        gap: 4px;
    
                        .subtext {
                            font-size: 16px;
                        }
                    }
    
                    .displaybtn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                    }
    
                }
            }
    
            .main_img_content {
                margin-top: -20px;
                position: relative;
    
                .main_img_card {
                    position: absolute;
                    top: 13%;
                    left: 58%;
                    background-color: white;
                    padding: 35px ;
                    border-radius: 10px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.384);
    
                    .main_img_para {
                        font-size: 20px;
                        font-weight: 600;
                        display: flex;
                    }
    
                    .main_img_doc {
                        display: flex;
                        position: relative;
                        margin-top: 15px;                       
                        .main_img {
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;                        
                            img{
                                object-fit: cover;
                                object-position: center;
                                border-radius: 100%;
                            }
                        }
    
                        .main_img_two {
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;
                            position: absolute;
                            top: 10px;
                            left: 46px;
                            img{
                                object-fit: cover;
                                object-position: center;
                                border-radius: 100%;
                            }
                        }
    
                        .main_img_three {
                            // background-color: #9c7d7d;
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;
                            position: absolute;
                            left: 90px;
                            img{
                                object-fit: cover;
                                object-position: center;
                                border-radius: 100%;
                            }
                        }
                        .main_img_four{
                            // background-color: #943a3a;
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;
                            position: absolute;
                            left: 128px;
                            img{
                                object-fit: cover;
                                object-position: center;
                                border-radius: 100%;
                            }
    
                        }
    
                        .main_img_doc_para {
                            font-size: 28px;
                            font-weight: 600;
                            width: 70px;
                            height: 70px;
                            border-radius: 100%;
                            position: absolute;
                            left: 195px;
                            top: 19px;
                        }
                    }
                    .ongoing{
                        background: #f7f7f7;
                        border-radius: 10px;
                        padding: 10px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;
                        margin-top: 20px;
                        .ongoing_para{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            font-weight: 600;
                            .ongoing_para_two{
                                font-weight: 400;
                                font-size: 14px;
                                color:#b1b1b1;
                            }
                        }
                    }
                    .second_img{
                        background-color: white;
                        position: absolute;
                        left: -650px;
                        border-radius: 25px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.315);
                        img{
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
    }
}