.work {
    max-width: 1880px;
    margin: 0 auto;

    .work_btn_top {
        text-align: center;
        margin-top: 130px;

        .btun {
            padding: clamp(5px, 1vw,  10px) clamp(10px, 1vw ,15px);
            background: linear-gradient(white, white) padding-box,
                        linear-gradient(to right, #c1e3d3, #ede5d1) border-box;
            border-radius: 50em;
            border: 3px solid transparent;
            box-shadow: 1px 4px 4px #f8efd9;
            font-size: clamp(14px , 1vw , 16px); 
        }
        
    }

    .work_para {
        text-align: center;
        margin-top: 30px;

        .work_para_main {
            font-size: clamp(32px, 3vw, 48px);
            font-weight: 500;
            margin-bottom: 10px;
        }

        .work_para_sub {
            font-weight: 400;
            font-size: clamp(16px, 2vw, 21px);
            color: #71726f;
        }
    }
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
    margin-top:clamp(30px, 4vw ,  70px);
    padding: 10px;
    .work_main_card {
        // margin: 0 auto;
        width: 500px;
        height: fit-content;
        border-radius: 25px;
        background: linear-gradient(to right bottom, #ddfaea, #fcfce3); 
        border: 2px solid #afafaf62;  
        .work_card_inner_text {
            height: 300px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .img_card{
                background-color: white;
                padding: 10px;
                border-radius: 25px;
                margin-top: -45px;
            }
            .circle {
                width: 150px;
                height: 150px;
                border: 10px solid orange;
                border-radius: 100%;
                position: relative;
                opacity: 0.3;


                &::after,
                &::before {
                    content: '';
                    position: absolute;
                }

                &::after {
                    width: 80px;
                    height: 80PX;
                    border: 10px solid orange;
                    border-radius: 100%;
                    top: 15px;
                    left: 15px;
                }

                &::before {
                    width: 50px;
                    height: 50px;
                    background: orange;
                    border-radius: 100%;
                    top: 40px;
                    left: 40px;
                }
            }

            .work_inner_card {
                position: absolute;
                bottom: 20px;
                background-color: white;
                padding: 10px;
                border-radius: 10px;

                .work_inner_card_para {
                    font-size: clamp(14px ,1vw, 16px);
                    font-weight: 500;
                }

                .work_inner_card_para_two {
                    font-weight: 500;
                    font-size: clamp(12px,1vw,14px);
                    color: #71726f;
                }
            }
        }

        .work_card_white_part {
            margin-top: 23px;
            background-color: white;
            padding: 20px;             
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;

            .work_white_card_para {
                font-size:clamp(16px, 2vw , 24px);
                font-weight: 500;
                margin-bottom: 10px;   
            }

            .work_white_card_paraSub {
                color: #71726f;
                font-size: clamp(14px, 1vw, 16px);
                font-weight: 500;
                margin-bottom: 10px;
            }

            .work_white_learn {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                align-items: center;

                .learn {
                    color: green;
                    font-size:clamp(14px, 1vw , 16px);
                    font-weight: 500;
                    text-align: center;
                }

                .fi-rr-arrow-small-right {
                    color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(16px, 2vw, 28px);
                }
            }
        }
        .fi-ss-bell{
            position: absolute;
            top: 70px;
            left:clamp(30%, 10vw , 35%);
            z-index: 1;
            font-size: 145px;
            color: lightgreen;
        }
    }
}
}
